body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h2 {
  text-align: center;
}

input[type ="text"] {
  width: 100%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

td {
  min-width: 80px;
}

ul {
  display: inline-block;
}

.activity-form {
  margin: auto;
  width: 90%;
}

.activity-item {
  border: 1px solid black;
}

.activity-items {
  margin: auto;
  width: 90%;
}

.activity-pie {
  margin: auto;
  width: 99%;
}

.delete-item {
  float: right;
}

.day {
  border: 2px solid;
  width: max(14.2%, 300px);
}

.day-inactive {
  border: 1px solid;
  color: grey;
  width: max(14.2%, 300px);
}

.label {
  font-weight: bold;
}

table.form-text {
  width: 100%;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  width: 100%;
}

.week-row {
  display: flex;
  flex-direction: row;
}
